[package]
name = "web-sys"
version = "0.1.0"
authors = ["The wasm-bindgen Developers"]
readme = "./README.md"

[build-dependencies]
env_logger = "0.5.10"
failure = "0.1"
wasm-bindgen-webidl = { path = "../webidl", version = "=0.2.15" }
sourcefile = "0.1"

[dependencies]
wasm-bindgen = { path = "../..", version = "=0.2.15" }

[dev-dependencies]
wasm-bindgen-test-project-builder = { path = "../test-project-builder", version = '=0.2.15' }
