[package]
name = "wasm-bindgen"
version = "0.2.16"
authors = ["The wasm-bindgen Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
categories = ["wasm"]
repository = "https://github.com/rustwasm/wasm-bindgen"
homepage = "https://rustwasm.github.io/wasm-bindgen/"
documentation = "https://docs.rs/wasm-bindgen"
description = """
Easy support for interacting between JS and Rust.
"""

[lib]
test = false
doctest = false

[features]
default = ["spans", "std"]
spans = ["wasm-bindgen-macro/spans"]
std = []
serde-serialize = ["serde", "serde_json", "std"]

# This is only for debugging wasm-bindgen! No stability guarantees, so enable
# this at your own peril!
xxx_debug_only_print_generated_code = ["wasm-bindgen-macro/xxx_debug_only_print_generated_code"]

[dependencies]
wasm-bindgen-macro = { path = "crates/macro", version = "=0.2.16" }
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = { path = 'crates/test', version = '=0.2.16' }
serde_derive = "1.0"
wasm-bindgen-test-crate-a = { path = 'tests/crates/a' }
wasm-bindgen-test-crate-b = { path = 'tests/crates/b' }

[workspace]
members = [
  "crates/cli",
  "crates/js-sys",
  "crates/test",
  "crates/test/sample",
  "crates/typescript",
  "crates/macro/ui-tests",
  "crates/web-sys",
  "crates/webidl",
  "crates/webidl-tests",
  "examples/add",
  "examples/asm.js",
  "examples/char",
  "examples/closures",
  "examples/comments",
  "examples/console_log",
  "examples/dom",
  "examples/guide-supported-types-examples",
  "examples/hello_world",
  "examples/import_js",
  "examples/julia_set",
  "examples/math",
  "examples/no_modules",
  "examples/performance",
  "examples/smorgasboard",
  "examples/wasm-in-wasm",
  "tests/no-std",
]

[patch.crates-io]
wasm-bindgen = { path = '.' }
console_error_panic_hook = { git = 'https://github.com/alexcrichton/console_error_panic_hook' }
