[package]
name = "wasm-bindgen-macro"
version = "0.2.11"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/alexcrichton/wasm-bindgen"
homepage = "https://github.com/alexcrichton/wasm-bindgen"
documentation = "https://docs.rs/wasm-bindgen"
description = """
Definition of the `#[wasm_bindgen]` attribute, an internal dependency
"""

[lib]
proc-macro = true

[features]
spans = ["proc-macro2/nightly", "wasm-bindgen-backend/spans"]
xxx_debug_only_print_generated_code = []

[dependencies]
syn = { version = '0.14', features = ['full'] }
quote = '0.6'
proc-macro2 = "0.4.8"
wasm-bindgen-backend = { path = "../backend", version = "=0.2.11" }
wasm-bindgen-shared = { path = "../shared", version = "=0.2.11" }
