body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; 
    color: white;
    background-color: black;
}

#wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputNumber {
    text-align: center;
}

#resultField {
    text-align: center;
    height: 1em;
    padding-top: 0.2em;
}
